@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: aliceblue;
    min-height: 100vh;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-width: 100%;
    box-shadow: 0 0 5px rgba(35, 35, 35, 0.584);
    background-color: #d9d9d9be;
    padding: 1rem;
}

.status-cont{
    display: flex;
    min-height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: medium;
    text-align: center;
    padding: 1rem;
}

.welcome-text{
    font-size: 2.5rem;
}

.sub-text{
    font-size: 1.5rem;
}